.about-container {
	background: #E5E5E5;
	color: black;
	font-size: 20px;
}

.aboutme-header {
	text-align: center;
	font-size: 50px;
}

.me {
	width: 250px;
	height: 250px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	border-radius: 125px;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center {
	text-align: center;
}

.about-info {
	font-size: 20px;
}

.engineer,
.web,
.mobile {
	text-align: center;
}

.engineer-title,
.web-title,
.mobile-title {
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
}

.engineer-text,
.web-text,
.mobile-text {
	font-size: 15px;
	text-align: center;
}


.revealOnScroll {
	opacity: 0;
}
.animated {
	-webkit-animation-duration: 0.7s !important;
	animation-duration: 0.7s !important;
	-webkit-animation-fill-mode: both !important;
	animation-fill-mode: both !important;
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
		-ms-transform: translateX(100px);
		transform: translateX(100px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}
.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100px);
		-ms-transform: translateX(-100px);
		transform: translateX(-100px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}
.fadeInUp {
	-webkit-animation-name:fadeInUp;
	animation-name:fadeInUp;
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity:0;
		-webkit-transform:translateY(20px);
		transform:translateY(20px);
	}
	100% {
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}
@keyframes fadeInUp {
	0% {
		opacity:0;
		-webkit-transform:translateY(20px);
		-ms-transform:translateY(20px);
		transform:translateY(20px);
	}
	100% {
		opacity:1;
		-webkit-transform:translateY(0);
		-ms-transform:translateY(0);
		transform:translateY(0);
	}
}