.about-container {
	background: #E5E5E5;
	color: black;
	font-size: 20px;
}

.aboutme-header {
	text-align: center;
	font-size: 50px;
}

.me {
	width: 250px;
	height: 250px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	border-radius: 125px;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center {
	text-align: center;
}

.about-info {
	font-size: 20px;
}

.engineer,
.web,
.mobile {
	text-align: center;
}

.engineer-title,
.web-title,
.mobile-title {
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
}

.engineer-text,
.web-text,
.mobile-text {
	font-size: 15px;
	text-align: center;
}