.contact-container {
	background: #D3D3D3;
	color: black;
	text-align: center;
	font-size: 20px;
	font-family: 'Open Sans', 'Nunito', sans-serif, serif;
}
div.social a.icon-facebook {
	background-color: #3b5998;
	font-size: 45px;
}

div.social a.icon-facebook:hover {
	background-color: #D3D3D3;
	color: #3b5998;
}
body div div div div a:hover {
	text-decoration: none;
}
.ch-info {
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-backface-visibility: hidden; /*for a smooth font */
}
.ch-info h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}
div.social a.icon:hover + .ch-info {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}


body:not(.device-touch) .social-icon {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.social-icon {
	width: 50px;
	height: 50px;
	font-size: 40px;
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	color: #fff;
}
.social-icon i {
	display: block;
	position: relative;
	height: 50px;
	padding-top: 5px;
}
body:not(.device-touch) .social-icon i {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.social-icon:hover i:first-child { 
	margin-top: -50px; 
	color: #fff;
}

.email1 {
	background-color: rgb(39, 174, 96);
}
.email2 {
	color: rgb(39, 174, 96);
	background-color: #D3D3D3;
}
.linkedin1 {
	background-color: #0E76A8;
}
.linkedin2 {
	color: #0E76A8;
	background-color: #D3D3D3;
}
.github1 {
	background-color: #000;
}
.github2 {
	color: #000;
	background-color: #D3D3D3;
}
.google1 {
	background-color: #D34836;
}
.google2 {
	color: #D34836;
	background-color: #D3D3D3;
}
.android1 {
	background-color: #A4C639;
}
.android2 {
	color: #A4C639;
	background-color: #D3D3D3;
}
.resume1 {
	background-color: #8e44ad;
}
.resume2 {
	color: #8e44ad;
	background-color: #D3D3D3;
}


