.contact-container {
	background: #D3D3D3;
	color: black;
	text-align: center;
	font-size: 20px;
	font-family: 'Open Sans', 'Nunito', sans-serif, serif;
}

div.social a {
	width: 60px;
	height: 60px;
	display: inline-block;
	border-radius: 5px;
	font-family: "scicons";
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #fff;
	transition: background-color .35s linear, color .35s linear;
}

div.social a:before {
	width: inherit;
	height: inherit;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

div.social a.icon-mail {
	background-color: rgb(39, 174, 96);
	font-size: 45px;
}

div.social a.icon-mail:hover {
	background-color: #D3D3D3;
	color: rgb(39, 174, 96);
}


div.social a.icon-facebook {
	background-color: #3b5998;
	font-size: 45px;
}

div.social a.icon-facebook:hover {
	background-color: #D3D3D3;
	color: #3b5998;
}


div.social a.icon-github {
	background-color: #000;
	font-size: 45px;
}

div.social a.icon-github:hover {
	background-color: #D3D3D3;
	color: #000;
}


div.social a.icon-google {
	background-color: #D34836;
	font-size: 45px;
}

div.social a.icon-google:hover {
	background-color: #D3D3D3;
	color: #D34836;
}


div.social a.icon-linkedin {
	background-color: #0077B5;
	font-size: 45px;
}

div.social a.icon-linkedin:hover {
	background-color: #D3D3D3;
	color: #0077B5;
}


div.social a.icon-android {
	background-color: #A4C639;
	font-size: 45px;
}

div.social a.icon-android:hover {
	background-color: #D3D3D3;
	color: #A4C639;
}

div.social a.icon-resume {
	background-color: #8e44ad;
	font-size: 45px;
}

div.social a.icon-resume:hover {
	background-color: #D3D3D3;
	color: #8e44ad;
}



body div div div div a:hover {
	text-decoration: none;
}




.ch-info {
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-backface-visibility: hidden; /*for a smooth font */
}

.ch-info h3 {
	margin-top: 5px;
	margin-bottom: 10px;
}

div.social a.icon:hover + .ch-info {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}