/*
    ____   _         _      __                             
   / __ \ (_)_   __ (_)____/ /___   _____ _____ _____ _____
  / / / // /| | / // // __  // _ \ / ___// ___// ___// ___/
 / /_/ // / | |/ // // /_/ //  __// /_  / /__ (__  )(__  ) 
/_____//_/  |___//_/ \__,_/ \___//_/(_) \___//____//____/  
                                                           
*/

.red-divider {
    border: 0;
    height: 2px;
    background: #e74c3c;
    background-image: -webkit-linear-gradient(left, #fff, #e74c3c, #fff); 
    background-image: -moz-linear-gradient(left, #fff, #e74c3c, #fff); 
    background-image: -ms-linear-gradient(left, #fff, #e74c3c, #fff); 
    background-image: -o-linear-gradient(left, #fff, #e74c3c, #fff); 
}

.green-divider {
    border: 0;
    height: 2px;
    background: #2ecc71 ;
    background-image: -webkit-linear-gradient(left, #333, #2ecc71 , #333); 
    background-image: -moz-linear-gradient(left, #333, #2ecc71 , #333); 
    background-image: -ms-linear-gradient(left, #333, #2ecc71 , #333); 
    background-image: -o-linear-gradient(left, #3333, #2ecc71 , #333);  
}

.blue-divider {
    border: 0;
    height: 2px;
    background: #2f64ea;
    background-image: -webkit-linear-gradient(left, #fff, #2f64ea, #fff); 
    background-image: -moz-linear-gradient(left, #fff, #2f64ea, #fff); 
    background-image: -ms-linear-gradient(left, #fff, #2f64ea, #fff); 
    background-image: -o-linear-gradient(left, #fff, #2f64ea, #fff); 
}

.red-divider2 {
    border: 0;
    height: 2px;
    background: #e74c3c;
    background-image: -webkit-linear-gradient(left, #444, #e74c3c, #444); 
    background-image: -moz-linear-gradient(left, #444, #e74c3c, #444); 
    background-image: -ms-linear-gradient(left, #444, #e74c3c, #444); 
    background-image: -o-linear-gradient(left, #444, #e74c3c, #444); 
}