.red-divider {
	border: 0;
	height: 2px;
	background: #e74c3c;
	background-image: -webkit-linear-gradient(left, #E5E5E5, #e74c3c, #E5E5E5); 
	background-image: -moz-linear-gradient(left, #E5E5E5, #e74c3c, #E5E5E5); 
	background-image: -ms-linear-gradient(left, #E5E5E5, #e74c3c, #E5E5E5); 
	background-image: -o-linear-gradient(left, #E5E5E5, #e74c3c, #E5E5E5); 
}

.green-divider {
	border: 0;
	height: 2px;
	background: #2ecc71 ;
	background-image: -webkit-linear-gradient(left, #FAFAFA, #2ecc71 , #FAFAFA); 
	background-image: -moz-linear-gradient(left, #FAFAFA, #2ecc71 , #FAFAFA); 
	background-image: -ms-linear-gradient(left, #FAFAFA, #2ecc71 , #FAFAFA); 
	background-image: -o-linear-gradient(left, #FAFAFA, #2ecc71 , #FAFAFA);  
}

.blue-divider {
	border: 0;
	height: 2px;
	background: #2f64ea;
	background-image: -webkit-linear-gradient(left, #E5E5E5, #2f64ea, #E5E5E5); 
	background-image: -moz-linear-gradient(left, #E5E5E5, #2f64ea, #E5E5E5); 
	background-image: -ms-linear-gradient(left, #E5E5E5, #2f64ea, #E5E5E5); 
	background-image: -o-linear-gradient(left, #E5E5E5, #2f64ea, #E5E5E5); 
}

.red-divider2 {
	border: 0;
	height: 2px;
	background: #e74c3c;
	background-image: -webkit-linear-gradient(left, #D3D3D3, #e74c3c, #D3D3D3); 
	background-image: -moz-linear-gradient(left, #D3D3D3, #e74c3c, #D3D3D3); 
	background-image: -ms-linear-gradient(left, #D3D3D3, #e74c3c, #D3D3D3); 
	background-image: -o-linear-gradient(left, #D3D3D3, #e74c3c, #D3D3D3); 
}

.yellow-divider {
	border: 0;
	height: 2px;
	background: #f39c12;
	background-image: -webkit-linear-gradient(left, #ECF0F1, #f39c12, #ECF0F1);
	background-image: -moz-linear-gradient(left, #ECF0F1, #f39c12, #ECF0F1);
	background-image: -ms-linear-gradient(left, #ECF0F1, #f39c12, #ECF0F1);
	background-image: -o-linear-gradient(left, #ECF0F1, #f39c12, #ECF0F1);
}