.education-container {
	color: white;
	font-size: 20px;
	font-family: 'Open Sans', 'Nunito', sans-serif, serif;
	width: 100%;
	height: auto;
}

.education-title {
	text-align: center;
}

.courses {
	margin-left: -15px;
}

.class {
	padding-left: 30px;
}

.highschool {
	font-size: 23px;
}

.educationcourses {
	font-size: 23px;
}

.highschoolonly {
	font-size: 25px;
}

.academies {
	font-size: 20px;
}