#header {
 	background-color: #333;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: none;
	color: white;
}

.navbar-toggle {
	margin: 0 15px 0 0;
	padding: 14px 10px;
}

.navcolor a {
	text-decoration: none;
}

.navcolor a:visited { 
	color: #FFF;
}

.navcolor a:hover {
	color:black;
}

.navbar-custom .navbar-brand:focus {
	outline: 0;
}

.navbar-custom a {
	color: #FFF;
}
 






 