.project-container {
	background: #E5E5E5;
	color: black;
	text-align: center;
	font-size: 20px;
	font-family: 'Open Sans', 'Nunito', sans-serif, serif;
}

.maze-solver-title,
.led-cube-title,
.molecule-title,
.clean-sleep-title {
	font-size: 30px;
	text-align: center;
}

.led-cube-info,
.molecule-info {
	text-align: center;
	font-size: 20px;
}

.maze-solver-info-center,
.molecule-info-center,
.clean-sleep-info-center {
	font-size: 20px;
	text-align: center;
}

.maze-solver-info-left,
.molecule-info-left,
.clean-sleep-info-left {
	font-size: 20px;
	text-align: left;
}

.project-indent {
	padding-left: 45px;
	text-align: left;
}

.btnProject{
	padding: 10px 15px 10px 15px;
	text-align: center;
	cursor: pointer;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px;
	color: #5bc0de;
	border: 2px solid #5bc0de;
	background: none;
	font-family: 'Open Sans', sans-serif;
	transition: all 150ms ease-in-out 0s;
	font-weight: 300;
	font-size: 25px;
}

.btnProject:hover{
	background-color: #5bc0de;
	color: #FFF;
}

.head {
    padding-bottom: 45px;
    color: #fff;
}

.description {
    color: #000;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 6px;
    font-weight: 400;
    margin: 0
}

/*.project-container {
    background: #039be5;
}*/

.project-title {
    color: #000;
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 6px;
    font-weight: 400;
    margin: 0;
}

.exCon {
    width: auto;
    background: #fefefe;
    padding: 20px;
    margin-left: 15px;
    box-shadow: 0 2px 15px #666;
    margin: 0;
}

.col-lg-4,.col-md-4,.col-sm-4,.col-xs-12 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.project-container .container {
    padding-top: 85px;
    padding-bottom: 90px
}

.amazon, .play {
	margin-bottom: 10px;
	width: 50%
}

@media screen and (max-width: 1200px){
	.amazon, .play {
		width: 60%;
	}
}

@media screen and (max-width: 700px){
	.amazon, .play {
		width: 80%;
	}
}

@media screen and (max-width: 500px){
	.amazon, .play {
		width: 100%;
	}
}