.title {
	text-align: center;
	margin-top: 50px;
	font-size: 50px;
	margin-bottom: 50px;
}

.puns {
	font-size: 30px;
}

.green {
	color: #690;
}

.gray {
	color: #888;
}

.pink {
	color: #905;
}

.indent {
	padding-left: 30px;
}