/*
   _____  __          __                         
  / ___/ / /_ __  __ / /___     _____ _____ _____
  \__ \ / __// / / // // _ \   / ___// ___// ___/
 ___/ // /_ / /_/ // //  __/_ / /__ (__  )(__  ) 
/____/ \__/ \__, //_/ \___/(_)\___//____//____/  
		   /____/                                
*/


html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family: "Ruda","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #fff;
	webkit-tap-highlight-color: rgba(255,255,255,.2);
}

h1,
h3,
h4,
h5,
h6 {
	margin: 0 0 35px;
	font-family: "Ruda","Helvetica Neue",Helvetica,Arial,sans-serif;
	letter-spacing: 1px;
}

h2 {
	margin: 0 0 35px;
	font-family: "Ruda","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
}

h1 {
	text-align: center;
	margin-top: 50px;
	font-size: 50px;
}

h3,
h5 {
	text-align: center;
}

.link a { text-decoration: none; }
.link a:visited { color: #3498db; }
.link a:not(.button) { color: #3a3a3a; transition: background 1s; -webkit-transition: background 1s; padding: 0.01rem 0.2rem; border-bottom: 3px solid #3498db; }
.link a:not(.button):hover { background: #3498db; color: #FFF; }
.link a:not(.button).noBorder { border-bottom: none; }
.link { color: black; }

.footer-contatiner {
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: 'Nunito', sans-serif, serif;
	width: 100%;
	height: auto;
}

.madeby {
	font-size: 25px;
}

.builtwith {
	font-size: 20px;
}

/*img{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
img:hover{
	-webkit-transform: scale(1.1);
  	-moz-transform: scale(1.1);
  	-o-transform: scale(1.1);
  	transform: scale(1.1);
}*/


.me {
	width: 250px;
	height: 250px;
	border-radius: 125px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	background: url(/images/me.jpg) no-repeat;
	background-size: 1536px 1020px;
	background-position: -750px -300px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.skill {

    text-align: left!important;

    margin-left: -40px;  

    margin-top: 40px;

    }

    

.skill li {

    list-style: none!important;

    }

    

.skill li:last-child span {

    margin-bottom: 0px;

    }

    

.skill li .skill-wrap {

    margin-bottom:50px;

    border-radius: 3px 3px 3px 3px;

    -webkit-border-radius: 3px 3px 3px 3px;

    -o-border-radius: 3px 3px 3px 3px;

    -moz-border-radius: 3px 3px 3px 3px;

    background:#dddddd;

    }

    

.skill li span { 

    height: 35px;

    width: 0px;

    display: block;

    border-radius: 3px 3px 3px 3px;

    -webkit-border-radius: 3px 3px 3px 3px;

    -o-border-radius: 3px 3px 3px 3px;

    -moz-border-radius: 3px 3px 3px 3px;

    }

    

.skill li p {

    padding-bottom: 2px;

    }

    

.skill li span {

    overflow: visible!important;

    position: relative;

}

    

.skill li span strong {

    position: absolute;

    top: 10px;

    left: 10px;

    color: #FFFFFF;

    line-height: 12px!important;

    display: block;

}

.percentage22{
	width: 22%;
}



.bar {
	width: 100%;
	border-radius: 3px;
	height: 35px;
	margin-top: 50px;
	background-color: #CECECE;
	z-index: 900;

}

.barfill {
	border-radius: 3px;
	height: 100%;
	background-color: #222222;
	text-align: left;
}

.lis {
	list-style: none;
}

.lis li {
	margin-bottom: 5%;
	width: 100%;
}

.language {
	color: white;
	margin-left: 15px;
	font-size: 20px;
	font-weight: bolder;
	font-family: "ruda", 'Open Sans', sans-serif;
	vertical-align: middle;
	position: absolute;
	margin-top: 5px;
	z-index: 999;

}




.bars {
   width: 95%;
   float: left;
   padding: 0;
   text-align: left;
}

.bars li {
   position: relative;
   margin-bottom: 40px;
   background: #bdc3c7;
   height: 38px;
   border-radius: 3px;
   overflow: hidden;
}
.fonts {
  color: #fff;
  font-size: 18px;
  font-weight: bolder;
  font-family: "ruda", 'Open Sans', sans-serif;
  padding-left: 20px;
  position: relative;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;
   margin: 0;
   padding-right: 24px;
   background: #34495e;
   display: inline-block;
   height: 42px;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
   background: #222;
}

.html {
  width: 95%;
   -moz-animation: html 2s ease;
   -webkit-animation: html 2s ease;
}
@-moz-keyframes html {
  0%   { width: 0px;  }
  100% { width: 95%;  }
}
@-webkit-keyframes html {
  0%   { width: 0px;  }
  100% { width: 95%;  }
}

.css {
   width: 85%;
   -moz-animation: css 2s ease;
   -webkit-animation: css 2s ease;
}
@-moz-keyframes css {
  0%   { width: 0px;  }
  100% { width: 85%;  }
}
@-webkit-keyframes css {
  0%   { width: 0px;  }
  100% { width: 85%;  }
}

.python {
   width: 70%;
   -moz-animation: python 2s ease;
   -webkit-animation: python 2s ease;
}
@-moz-keyframes python {
  0%   { width: 0px;  }
  100% { width: 70%;  }
}
@-webkit-keyframes python {
  0%   { width: 0px;  }
  100% { width: 70%;  }
}

.java {
   width: 60%;
   -moz-animation: java 2s ease;
   -webkit-animation: java 2s ease;
}
@-moz-keyframes java {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-webkit-keyframes java {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}

.javascript {
   width: 45%;
   -moz-animation: javascript 2s ease;
   -webkit-animation: javascript 2s ease;
}
@-moz-keyframes javascript {
  0%   { width: 0px;  }
  100% { width: 45%;  }
}
@-webkit-keyframes javascript {
  0%   { width: 0px;  }
  100% { width: 45%;  }
}

.cplusplus {
   width: 25%;
   -moz-animation: cplusplus 2s ease;
   -webkit-animation: cplusplus 2s ease;
}
@-moz-keyframes cplusplus {
  0%   { width: 0px;  }
  100% { width: 25%;  }
}
@-webkit-keyframes cplusplus {
  0%   { width: 0px;  }
  100% { width: 25%;  }
}


.autodesk {
   width: 90%;
   -moz-animation: autodesk 2s ease;
   -webkit-animation: autodesk 2s ease;
}
@-moz-keyframes autodesk {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-webkit-keyframes autodesk {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}

.soldering {
   width: 90%;
   -moz-animation: soldering 2s ease;
   -webkit-animation: soldering 2s ease;
}
@-moz-keyframes soldering {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-webkit-keyframes soldering {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}

.cnc-machine {
   width: 85%;
   -moz-animation: cnc-machine 2s ease;
   -webkit-animation: cnc-machine 2s ease;
}
@-moz-keyframes cnc-machine {
  0%   { width: 0px;  }
  100% { width: 85%;  }
}
@-webkit-keyframes cnc-machine {
  0%   { width: 0px;  }
  100% { width: 85%;  }
}

.autocad {
   width: 75%;
   -moz-animation: autocad 2s ease;
   -webkit-animation: autocad 2s ease;
}
@-moz-keyframes autocad {
  0%   { width: 0px;  }
  100% { width: 75%;  }
}
@-webkit-keyframes autocad {
  0%   { width: 0px;  }
  100% { width: 75%;  }
}

.printing {
   width: 70%;
   -moz-animation: printing 2s ease;
   -webkit-animation: printing 2s ease;
}
@-moz-keyframes printing {
  0%   { width: 0px;  }
  100% { width: 70%;  }
}
@-webkit-keyframes printing {
  0%   { width: 0px;  }
  100% { width: 70%;  }
}

.cnc {
   width: 65%;
   -moz-animation: cnc 2s ease;
   -webkit-animation: cnc 2s ease;
}
@-moz-keyframes cnc {
  0%   { width: 0px;  }
  100% { width: 65%;  }
}
@-webkit-keyframes cnc {
  0%   { width: 0px;  }
  100% { width: 65%;  }
}

.solidworks {
   width: 45%;
   -moz-animation: solidworks 2s ease;
   -webkit-animation: solidworks 2s ease;
}
@-moz-keyframes solidworks {
  0%   { width: 0px;  }
  100% { width: 45%;  }
}
@-webkit-keyframes solidworks {
  0%   { width: 0px;  }
  100% { width: 45%;  }
}

.arduino {
   width: 80%;
   -moz-animation: arduino 2s ease;
   -webkit-animation: arduino 2s ease;
}
@-moz-keyframes arduino {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes arduino {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}


.bootstrap {
   width: 70%;
   -moz-animation: bootstrap 2s ease;
   -webkit-animation: bootstrap 2s ease;
}
@-moz-keyframes bootstrap {
  0%   { width: 0px;  }
  100% { width: 70%;  }
}
@-webkit-keyframes bootstrap {
  0%   { width: 0px;  }
  100% { width: 70%;  }
}


.android {
   width: 65%;
   -moz-animation: android 2s ease;
   -webkit-animation: android 2s ease;
}
@-moz-keyframes android {
  0%   { width: 0px;  }
  100% { width: 65%;  }
}
@-webkit-keyframes android {
  0%   { width: 0px;  }
  100% { width: 65%;  }
}


.chrome {
   width: 50%;
   -moz-animation: chrome 2s ease;
   -webkit-animation: chrome 2s ease;
}
@-moz-keyframes chrome {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-webkit-keyframes chrome {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}


.flask {
   width: 50%;
   -moz-animation: flask 2s ease;
   -webkit-animation: flask 2s ease;
}
@-moz-keyframes flask {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-webkit-keyframes flask {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}


.django {
   width: 50%;
   -moz-animation: django 2s ease;
   -webkit-animation: django 2s ease;
}
@-moz-keyframes django {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-webkit-keyframes django {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}


.ios {
   width: 25%;
   -moz-animation: ios 2s ease;
   -webkit-animation: ios 2s ease;
}
@-moz-keyframes ios {
  0%   { width: 0px;  }
  100% { width: 25%;  }
}
@-webkit-keyframes ios {
  0%   { width: 0px;  }
  100% { width: 25%;  }
}
