html,
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
html img,
body img {
	-webkit-user-drag: none;
}
body {
	font-family: "Ruda","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #fff;
	webkit-tap-highlight-color: rgba(255,255,255,.2);
	overflow-x: hidden;
}
h1,
h3,
h4,
h5,
h6 {
	margin: 0 0 35px;
	letter-spacing: 1px;
}
h2 {
	margin: 0 0 35px;
	letter-spacing: 1px;
}
h1 {
	text-align: center;
	margin-top: 50px;
	font-size: 50px;
}
h3,
h5 {
	text-align: center;
}
.link a { text-decoration: none; }
.link a:visited { color: #e74c3c; }

.link a:not(.button) {
	color: #ccc;
	-webkit-transition: all 0.75s;
	-moz-transition: all 0.75s;
	transition: all 0.75s;
	padding: 0.01rem 0.2rem;
	border-bottom: 3px solid #e74c3c;
}

.link a:not(.button):hover { background: #e74c3c; color: #FFF; }
.link { color: black; }

/* Begin Navbar Section */

#header {
 	background-color: #333;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: none;
	color: white;
}

.navbar-toggle {
	margin: 0 15px 0 0;
	padding: 14px 10px;
}

.navcolor a {
	text-decoration: none;
}

.navcolor a:visited { 
	color: #FFF;
}

.navcolor a:hover {
	color:black;
}

.navbar-custom .navbar-brand:focus {
	outline: 0;
}

.navbar-custom a {
	color: #FFF;
}

.navbar-fixed-top {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
	border: none;
	background-color: rgba(35,35,35,0.9);
}
.navbar-toggle {
	margin: 0 15px 0 0;
	padding: 14px 10px;
}
.navbar-toggle i {
	color: #fff;
}

/* Makes my name white */
.navbar-brand,
.navcolor li a {
	color: #fff !important;
	font-weight: 700;
}
.navcolor li a:hover {
	color: #e74c3c !important;
}
.navcolor .active a {
	background-color: transparent !important;
	color: #e74c3c !important;
}

.top-nav-collapse {
	background-color: rgba(35,35,35,0.9);
	border: none;
	padding-top: 0px;
}
@media (min-width: 768px) {
	.top-nav-collapse {
		background-color: transparent;
		border: none;
		padding-top: 20px;
	}
}

/* End Navbar Section */

/* Begin Intro Section */

#panel1 {
	padding: 0px;
	width: 100%;
	min-height: 100%;
	display: table;
	overflow-x: hidden;
}

.bannerPart {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	width: auto;
	height: auto;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	overflow: hidden;
}

.bannerPart{
	background-image: -webkit--webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-webkit--webkit-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -webkit--moz-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-webkit--moz-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -webkit--o-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-webkit--o-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -webkit--ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-webkit--ms-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-webkit-linear-gradient(108deg,#26d0ce,#1a2980 90%);
	background-image: -moz--webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-moz--webkit-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -moz--moz-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-moz--moz-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -moz--o-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-moz--o-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -moz--ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-moz--ms-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -ms--webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-ms--webkit-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -ms--moz-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-ms--moz-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -ms--o-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-ms--o-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -ms--ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-ms--ms-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-ms-linear-gradient(108deg,#26d0ce,#1a2980 90%);
}

.bannerPart img{
	opacity:.2;
	filter:alpha(opacity=20);
}


.btn-circle {
	width: 70px;
	height: 70px;
	border: 2px solid #fff;
	border-radius: 35px;
	font-size: 40px;
	color: #fff;
	background: 0 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-circle:hover {
	color: #888;
	border-color: #888;
}

.center {
	text-align: center;
}

#content {
	padding: 30px;
	font-variant: small-caps;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color: white;
}
#content h2 {
	font-size: 64px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	text-align: center;
}
#items {
	text-align: center;
	margin-bottom: 100px;
	margin-top: 20px;
}
@media (max-width: 856px) {
	#items {
		margin-bottom: 25px;
	}
}

#items h3 {
	font-size: 24px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	vertical-align: middle;
	margin: 20px;
	padding: 20px;
	width: 150px;
	height: auto;
}
.hover + div,
.hover2 {
	opacity: 1.0 !important;
	transform: translateX(0px) scale(1) !important;
	-o-transform: translateX(0px) scale(1) !important;
	-ms-transform: translateX(0px) scale(1) !important;
	-moz-transform: translateX(0px) scale(1) !important;
	-webkit-transform: translateX(0px) scale(1) !important;
}

.tooltip1,
.tooltip2,
.tooltip3,
.tooltip4 {
	width: 0px;
	height: 0px;
	display: inline-block;
	vertical-align: middle;
	transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transform: translateX(-90px) scale(0);
	-o-transform: translateX(-90px) scale(0);
	-ms-transform: translateX(-90px) scale(0);
	-moz-transform: translateX(-90px) scale(0);
	-webkit-transform: translateX(-90px) scale(0);
	opacity: 0.0;
}

.developer {
	position: relative;
	top: 20px;
	left: -195px;
	right: auto;
	bottom: auto;
	width: 200px;
	height: 150px;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
	color: #333;
	background: #ffffff;
	border-radius: 10px;
}
.developer:before {
	width: 0;
	height: 0;
	position: absolute;
	top: -20px;
	left: 88px;
	right: auto;
	bottom: auto;
	content: "";
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #FFFFFF transparent;
}

@media screen and (max-width: 820px) {
	/*#items {
		margin-bottom: 90px !important;
	}*/
	#items h3 {
		/*width: 130px;*/
	}
	.developer {
		left: -186px;
	}
}

@media screen and (max-width: 450px){
	#panel1 #content {
		padding: 10px;
	}

	#panel1 #content h2 {
		font-size: 54px;
	}
}

@media screen and (max-width: 430px){
	#panel1 #content #items h3 {
		margin: 20px 0;
		padding: 20px 10px;
		width: 130px;
	}
	.item_box {
		width: 49%;
		max-width: 144px;
		display: inline-block;
	}
	.developer {
		left: -170px;
	}
}

@media screen and (max-width: 350px){
	#panel1 #content h2 {
		font-size: 48px;
	}
	.developer {
		width: 160px;
		left: -150px;
		height: 200px;
	}
	.developer:before {
		left: 70px;
	}
}

/* End Intro Section */

/* All Sections */
#about, #skills, #projects, #education, #contact {
	padding-top: 10px;
	padding-bottom: 50px;
	color: #fff;
}

#about {
	background-color: #1E88E5;
}

#skills {
	background-color: #673ab7;
}

#projects {
	background-color: #00bcd4;
	text-align: center;
}

#education {
	background-color: #27ae60;
}

#contact {
	background-color: #ff9800;
	text-align: center;
}
/* End All Sections */

/* Begin About Section */

.about-container {
	background: #E5E5E5;
	color: black;
	font-size: 20px;
}

.aboutme-header {
	text-align: center;
	font-size: 50px;
}

.me {
	width: 250px;
	height: 250px;
	-webkit-border-radius: 125px;
	-moz-border-radius: 125px;
	border-radius: 125px;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center {
	text-align: center;
}

.about-info {
	font-size: 20px;
}

.engineer,
.web,
.mobile {
	text-align: center;
}

.engineer-title,
.web-title,
.mobile-title {
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
}

.engineer-text,
.web-text,
.mobile-text {
	font-size: 15px;
	text-align: center;
}

.revealOnScroll {
	opacity: 0;
}
.animated {
	-webkit-animation-duration: 0.7s !important;
	animation-duration: 0.7s !important;
	-webkit-animation-fill-mode: both !important;
	animation-fill-mode: both !important;
}

/* End About Section */

/* Begin Skill Section */

.skill-container {
	background: #FAFAFA;
	color: black;
	text-align: center;
	font-size: 20px;
	font-family: "ruda", 'Open Sans', 'Nunito', sans-serif, serif;
	width: 100%;
	height: auto;
}

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}

.bars li {
	position: relative;
	margin-bottom: 20px;
	background: #bdc3c7;
	height: 38px;
	border-radius: 3px;
	overflow: hidden;
}
.fonts {
	color: #fff;
	font-size: 18px;
	font-weight: bolder;
	font-family: "ruda", 'Open Sans', sans-serif;
	padding-left: 20px;
	position: relative;
}
.bar-expand {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding-right: 24px;
	background: #34495e;
	display: inline-block;
	height: 42px;
	line-height: 42px;
	border-radius: 3px 0 0 3px;
	background: #222;
}

.html {
	width: 75%;
	-moz-animation: html 2s ease;
	-webkit-animation: html 2s ease;
}
@-moz-keyframes html {
	0%   { width: 0px;  }
	100% { width: 75%;  }
}
@-webkit-keyframes html {
	0%   { width: 0px;  }
	100% { width: 75%;  }
}

.javascript {
	width: 60%;
	-moz-animation: javascript 2s ease;
	-webkit-animation: javascript 2s ease;
}
@-moz-keyframes javascript {
	0%   { width: 0px;  }
	100% { width: 60%;  }
}
@-webkit-keyframes javascript {
	0%   { width: 0px;  }
	100% { width: 60%;  }
}

.sql {
	width: 80%;
	-moz-animation: sql 2s ease;
	-webkit-animation: sql 2s ease;
}
@-moz-keyframes sql {
	0%   { width: 0px;  }
	100% { width: 80%;  }
}
@-webkit-keyframes sql {
	0%   { width: 0px;  }
	100% { width: 80%;  }
}

.java {
	width: 60%;
	-moz-animation: java 2s ease;
	-webkit-animation: java 2s ease;
}
@-moz-keyframes java {
	0%   { width: 0px;  }
	100% { width: 60%;  }
}
@-webkit-keyframes java {
	0%   { width: 0px;  }
	100% { width: 60%;  }
}

.php {
	width: 30%;
	-moz-animation: php 2s ease;
	-webkit-animation: php 2s ease;
}
@-moz-keyframes php {
	0%   { width: 0px;  }
	100% { width: 30%;  }
}
@-webkit-keyframes pyphpthon {
	0%   { width: 0px;  }
	100% { width: 30%;  }
}

.python {
	width: 90%;
	-moz-animation: python 2s ease;
	-webkit-animation: python 2s ease;
}
@-moz-keyframes python {
	0%   { width: 0px;  }
	100% { width: 90%;  }
}
@-webkit-keyframes python {
	0%   { width: 0px;  }
	100% { width: 90%;  }
}

.autodesk {
	width: 90%;
	-moz-animation: autodesk 2s ease;
	-webkit-animation: autodesk 2s ease;
}

@-moz-keyframes autodesk {
	0%   { width: 0px;  }
	100% { width: 90%;  }
}
@-webkit-keyframes autodesk {
	0%   { width: 0px;  }
	100% { width: 90%;  }
}

.soldering {
	width: 90%;
	-moz-animation: soldering 2s ease;
	-webkit-animation: soldering 2s ease;
}
@-moz-keyframes soldering {
	0%   { width: 0px;  }
	100% { width: 90%;  }
}
@-webkit-keyframes soldering {
	0%   { width: 0px;  }
	100% { width: 90%;  }
}

.autocad {
	width: 75%;
	-moz-animation: autocad 2s ease;
	-webkit-animation: autocad 2s ease;
}
@-moz-keyframes autocad {
	0%   { width: 0px;  }
	100% { width: 75%;  }
}
@-webkit-keyframes autocad {
	0%   { width: 0px;  }
	100% { width: 75%;  }
}

.printing {
	width: 70%;
	-moz-animation: printing 2s ease;
	-webkit-animation: printing 2s ease;
}
@-moz-keyframes printing {
	0%   { width: 0px;  }
	100% { width: 70%;  }
}
@-webkit-keyframes printing {
	0%   { width: 0px;  }
	100% { width: 70%;  }
}


.matlab {
	width: 80%;
	-moz-animation: matlab 2s ease;
	-webkit-animation: matlab 2s ease;
}
@-moz-keyframes matlab {
	0%   { width: 0px;  }
	100% { width: 80%;  }
}
@-webkit-keyframes matlab {
	0%   { width: 0px;  }
	100% { width: 80%;  }
}

.tableau {
	width: 75%;
	-moz-animation: tableau 2s ease;
	-webkit-animation: tableau 2s ease;
}
@-moz-keyframes tableau {
	0%   { width: 0px;  }
	100% { width: 75%;  }
}
@-webkit-keyframes tableau {
	0%   { width: 0px;  }
	100% { width: 75%;  }
}

.arduino {
	width: 70%;
	-moz-animation: arduino 2s ease;
	-webkit-animation: arduino 2s ease;
}
@-moz-keyframes arduino {
	0%   { width: 0px;  }
	100% { width: 70%;  }
}
@-webkit-keyframes arduino {
	0%   { width: 0px;  }
	100% { width: 70%;  }
}

.analytics {
	width: 70%;
	-moz-animation: analytics 2s ease;
	-webkit-animation: analytics 2s ease;
}
@-moz-keyframes analytics {
	0%   { width: 0px;  }
	100% { width: 70%;  }
}
@-webkit-keyframes analytics {
	0%   { width: 0px;  }
	100% { width: 70%;  }
}

.sql {
	width: 65%;
	-moz-animation: sql 2s ease;
	-webkit-animation: sql 2s ease;
}
@-moz-keyframes sql {
	0%   { width: 0px;  }
	100% { width: 65%;  }
}
@-webkit-keyframes sql {
	0%   { width: 0px;  }
	100% { width: 65%;  }
}

.android {
	width: 50%;
	-moz-animation: android 2s ease;
	-webkit-animation: android 2s ease;
}
@-moz-keyframes android {
	0%   { width: 0px;  }
	100% { width: 50%;  }
}
@-webkit-keyframes android {
	0%   { width: 0px;  }
	100% { width: 50%;  }
}



/* End Skill Section */

/* Begin Projects Section */

.project-container {
	background: #E5E5E5;
	color: black;
	text-align: center;
	font-size: 20px;
	font-family: 'Open Sans', 'Nunito', sans-serif, serif;
}

.btnProject{
	padding: 10px 15px 10px 15px;
	text-align: center;
	cursor: pointer;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px;
	color: #FFF;
	border: 4px solid #e74c3c;
	background: #e74c3c;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: all 0.75s;
	-moz-transition: all 0.75s;
	transition: all 0.75s;
	font-weight: 300;
	font-size: 25px;
}

.btnProject:hover{
	background-color: #c0392b;
	border: 4px solid #c0392b;
	color: #FFF;
}

.description {
	color: #000;
	font-family: 'Open Sans',sans-serif;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 6px;
	font-weight: 400;
	margin: 0
}

.project-title {
	color: #000;
	font-family: 'Open Sans',sans-serif;
	font-size: 24px;
	line-height: 30px;
	padding-bottom: 6px;
	font-weight: 400;
	margin: 0;
}

.exCon {
	width: auto;
	background: #fefefe;
	padding: 20px;
	margin-left: 15px;
	box-shadow: 0 2px 15px #666;
	margin: 0;
}

.col-lg-4,.col-md-4,.col-sm-4,.col-xs-12 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.amazon, .play {
	margin-bottom: 10px;
	width: 50%
}

@media screen and (max-width: 1200px){
	.amazon, .play {
		width: 60%;
	}
}

@media screen and (max-width: 700px){
	.amazon, .play {
		width: 80%;
	}
}

@media screen and (max-width: 500px){
	.amazon, .play {
		width: 100%;
	}
}

/* End Projects Section */

/* Begin Education Section */

.education-container {
	background: #ECF0F1;
	color: black;
	font-size: 20px;
	font-family: 'Open Sans', 'Nunito', sans-serif, serif;
	width: 100%;
	height: auto;
}

.courses {
	font-weight: bold;
	font-size: 17px;
}

.educationcourses {
	text-align: center;
	font-size: 20px;
}

.class {
	font-size: 15px;
}

.highschool {
	font-size: 20px;
	text-align: center;
}

.educationcourses {
	text-align: center;
	font-size: 40px;
}

.highschoolonly {
	font-size: 22px;
}

.academies {
	font-size: 16px;
}

.greyed {
	font-size: 16px;
	color: #9E9E9E
}

.edu {
    padding-top: 15px;
}
.edu2 {
	height: 200px;
}

.edu_col3 {
	width: 33.33%;
	display: inline-block;
	padding: 15px 15px 0;
	vertical-align: top;
	max-width: 300px;
	text-align: left;
}

.edu_col4 {
	width: 25%;
	display: inline-block;
	padding: 15px 15px 0;
	vertical-align: top;
	max-width: 250px;
	text-align: left;
}

@media screen and (max-width: 991px){
	.edu_col4 {
		width: 50%;
	}
	.edu_col3 {
		width: 50%;
	}
	.edu_col3_special {
		width: 100%;
	}
}

@media screen and (max-width: 550px){
	.edu_col4 {
		width: 100%;
	}
	.edu_col3 {
		width: 100%;
	}
}


/* End Education Section */


/* Begin Contact Section */

.contact-container {
	background: #D3D3D3;
	color: black;
	text-align: center;
	font-size: 20px;
	font-family: 'Open Sans', 'Nunito', sans-serif, serif;
}
body div div div div a:hover {
	text-decoration: none;
}
.social {
	font-size: 0;
}
.social .col-sm-2 {
	float: none;
	display: inline-block;
}

.email1 {
	background-color: rgb(39, 174, 96);
}
.email2 {
	color: rgb(39, 174, 96);
	background-color: #D3D3D3;
}
.linkedin1 {
	background-color: #0E76A8;
}
.linkedin2 {
	color: #0E76A8;
	background-color: #D3D3D3;
}
.github1 {
	background-color: #000;
}
.github2 {
	color: #000;
	background-color: #D3D3D3;
}
.google1 {
	background-color: #D34836;
}
.google2 {
	color: #D34836;
	background-color: #D3D3D3;
}
.android1 {
	background-color: #A4C639;
}
.android2 {
	color: #A4C639;
	background-color: #D3D3D3;
}
.resume1 {
	background-color: #8e44ad;
}
.resume2 {
	color: #8e44ad;
	background-color: #D3D3D3;
}

.trigger {
	position: relative;
	height: 50px;
	width: 50px;
	display: inline-block;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 5;
}

.trigger_span {
	overflow: hidden;
	position: absolute;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.trigger_span, .trigger_span i {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: -5;
	font-size: 30px;
}

.trigger .trigger_span i:nth-child(1) {
	top: 0;
	line-height: 50px;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.trigger .trigger_span i:nth-child(2) {
	top: 100%;
	line-height: 50px;
	background-color: #d9d9d9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.trigger:hover .trigger_span i:nth-child(1) {
	top: -100%;
	
}
.trigger:hover .trigger_span i:nth-child(2) {
	top: 0;
}
em, i {
	transition: all 0.4s;
}
.ch-info {
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-backface-visibility: hidden;
}
.ch-info h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}
a.icon:hover + .ch-info {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}

/* End Contact Section */

/* Begin Divider */

.red-divider {
	border: 0;
	height: 2px;
	background: #e74c3c;
	background-image: -webkit-linear-gradient(left, #1E88E5, #e74c3c, #1E88E5); 
	background-image: -moz-linear-gradient(left, #1E88E5, #e74c3c, #1E88E5); 
	background-image: -ms-linear-gradient(left, #1E88E5, #e74c3c, #1E88E5); 
	background-image: -o-linear-gradient(left, #1E88E5, #e74c3c, #1E88E5); 
}

.green-divider {
	border: 0;
	height: 2px;
	background: #e74c3c;
	background-image: -webkit-linear-gradient(left, #673ab7, #e74c3c, #673ab7); 
	background-image: -moz-linear-gradient(left, #673ab7, #e74c3c, #673ab7); 
	background-image: -ms-linear-gradient(left, #673ab7, #e74c3c, #673ab7); 
	background-image: -o-linear-gradient(left, #673ab7, #e74c3c, #673ab7); 
}

.blue-divider {
	border: 0;
	height: 2px;
	background: #e74c3c;
	background-image: -webkit-linear-gradient(left, #00bcd4, #e74c3c, #00bcd4); 
	background-image: -moz-linear-gradient(left, #00bcd4, #e74c3c, #00bcd4); 
	background-image: -ms-linear-gradient(left, #00bcd4, #e74c3c, #00bcd4); 
	background-image: -o-linear-gradient(left, #00bcd4, #e74c3c, #00bcd4); 
}

.yellow-divider {
	border: 0;
	height: 2px;
	background: #e74c3c;
	background-image: -webkit-linear-gradient(left, #009688, #e74c3c, #009688); 
	background-image: -moz-linear-gradient(left, #009688, #e74c3c, #009688); 
	background-image: -ms-linear-gradient(left, #009688, #e74c3c, #009688); 
	background-image: -o-linear-gradient(left, #009688, #e74c3c, #009688); 
}
.red-divider2 {
	border: 0;
	height: 2px;
	background: #e74c3c;
	background-image: -webkit-linear-gradient(left, #ff9800, #e74c3c, #ff9800); 
	background-image: -moz-linear-gradient(left, #ff9800, #e74c3c, #ff9800); 
	background-image: -ms-linear-gradient(left, #ff9800, #e74c3c, #ff9800); 
	background-image: -o-linear-gradient(left, #ff9800, #e74c3c, #ff9800); 
}
/* End Divider */
