.bars {
   width: 95%;
   float: left;
   padding: 0;
   text-align: left;
}

.bars li {
   position: relative;
   margin-bottom: 60px;
   background: #bdc3c7;
   height: 42px;
   border-radius: 3px;
    overflow: hidden;
}
.bars li em {
  color: #fff;
  font: 15px/42px "Open Sans",sans-serif;
  letter-spacing: 2px;
  padding-left: 20px;
  position: relative;
  text-transform: uppercase;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;
   margin: 0;
   padding-right: 24px;
   background: #34495e;
   display: inline-block;
   height: 42px;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
   background: #222;
}

.html {
  width: 95%;
   -moz-animation: html 2s ease;
   -webkit-animation: html 2s ease;
}
@-moz-keyframes html {
  0%   { width: 0px;  }
  100% { width: 95%;  }
}
@-webkit-keyframes html {
  0%   { width: 0px;  }
  100% { width: 95%;  }
}

.css {
   width: 85%;
   -moz-animation: css 2s ease;
   -webkit-animation: css 2s ease;
}
@-moz-keyframes css {
  0%   { width: 0px;  }
  100% { width: 85%;  }
}
@-webkit-keyframes css {
  0%   { width: 0px;  }
  100% { width: 85%;  }
}

.python {
   width: 70%;
   -moz-animation: python 2s ease;
   -webkit-animation: python 2s ease;
}
@-moz-keyframes python {
  0%   { width: 0px;  }
  100% { width: 70%;  }
}
@-webkit-keyframes python {
  0%   { width: 0px;  }
  100% { width: 70%;  }
}

.java {
   width: 60%;
   -moz-animation: java 2s ease;
   -webkit-animation: java 2s ease;
}
@-moz-keyframes java {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-webkit-keyframes java {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}

.javascript {
   width: 45%;
   -moz-animation: javascript 2s ease;
   -webkit-animation: javascript 2s ease;
}
@-moz-keyframes javascript {
  0%   { width: 0px;  }
  100% { width: 45%;  }
}
@-webkit-keyframes javascript {
  0%   { width: 0px;  }
  100% { width: 45%;  }
}

.cplusplus {
   width: 25%;
   -moz-animation: cplusplus 2s ease;
   -webkit-animation: cplusplus 2s ease;
}
@-moz-keyframes cplusplus {
  0%   { width: 0px;  }
  100% { width: 25%;  }
}
@-webkit-keyframes cplusplus {
  0%   { width: 0px;  }
  100% { width: 25%;  }
}

.autodesk {
   width: 45%;
   -moz-animation: autodesk 2s ease;
   -webkit-animation: autodesk 2s ease;
}
@-moz-keyframes autodesk {
  0%   { width: 0px;  }
  100% { width: 45%;  }
}
@-webkit-keyframes autodesk {
  0%   { width: 0px;  }
  100% { width: 45%;  }
}

.soldering {
   width: 90%;
   -moz-animation: soldering 2s ease;
   -webkit-animation: soldering 2s ease;
}
@-moz-keyframes soldering {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-webkit-keyframes soldering {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}

.cnc-machine {
   width: 85%;
   -moz-animation: cnc-machine 2s ease;
   -webkit-animation: cnc-machine 2s ease;
}
@-moz-keyframes cnc-machine {
  0%   { width: 0px;  }
  100% { width: 85%;  }
}
@-webkit-keyframes cnc-machine {
  0%   { width: 0px;  }
  100% { width: 85%;  }
}

.autocad {
   width: 75%;
   -moz-animation: autocad 2s ease;
   -webkit-animation: autocad 2s ease;
}
@-moz-keyframes autocad {
  0%   { width: 0px;  }
  100% { width: 75%;  }
}
@-webkit-keyframes autocad {
  0%   { width: 0px;  }
  100% { width: 75%;  }
}

.3dprinting {
   width: 70%;
   -moz-animation: 3dprinting 2s ease;
   -webkit-animation: 3dprinting 2s ease;
}
@-moz-keyframes 3dprinting {
  0%   { width: 0px;  }
  100% { width: 70%;  }
}
@-webkit-keyframes 3dprinting {
  0%   { width: 0px;  }
  100% { width: 70%;  }
}

.cnc {
   width: 65%;
   -moz-animation: cnc 2s ease;
   -webkit-animation: cnc 2s ease;
}
@-moz-keyframes cnc {
  0%   { width: 0px;  }
  100% { width: 65%;  }
}
@-webkit-keyframes cnc {
  0%   { width: 0px;  }
  100% { width: 65%;  }
}

.solidworks {
   width: 45%;
   -moz-animation: solidworks 2s ease;
   -webkit-animation: solidworks 2s ease;
}
@-moz-keyframes solidworks {
  0%   { width: 0px;  }
  100% { width: 45%;  }
}
@-webkit-keyframes solidworks {
  0%   { width: 0px;  }
  100% { width: 45%;  }
}
