body {
	font-family: "Ruda","Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative; 
}


.top-nav-collapse {
	background-color: transparent;
	border: none;
	padding-top: 20px;
}
.navbar-fixed-top {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
	border: none;
}

.navbar-toggle {
	margin: 0 15px 0 0;
	padding: 14px 10px;
}
.navbar-toggle i {
	color: #fff;
}

/* Makes my name white */
.navbar-brand,
.navcolor li a {
	color: #fff !important;
	font-weight: 700;
}

.navcolor li a:hover {
	color: #e74c3c !important;
}

.navcolor .active a {
	background-color: transparent !important;
	color: #e74c3c !important;
}




.navbar-custom .navbar-brand:focus {
	outline: 0;
}

.navbar-custom a {
	color: #FFF;
}

#title {
	padding-top: 200px;
	height: 500px;
	color: #fff;
	background: linear-gradient(135deg, rgba(86,141,226,0.89) 0%, #511d80 100%);
}

#about {
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: #1E88E5;
}

#skills {
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: #673ab7;
}

#projects {
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: #ff9800;
}

#education {
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: #00bcd4;
}

#contact {
	padding-top:50px;
	height:500px;
	color: #fff;
	background-color: #009688;
}