<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>FireBase Website</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
	<link rel="stylesheet" href="/resources/tutorial/css/example.css"/>
</head>
<body ng-controller="MyController">
	<div class="example-chat l-demo-container">
		<h1 class="center_div">Firebase Chat Demo</h1>
		<ul class="example-chat-messages example-messages">
			<li ng-repeat="msg in messages">
				<!-- <div class="left_right_text right_side_text"> -->
				<div>
					<p class="example-chat-username">{{ msg.sender }}</p>
					<!-- <p class="example-chat-message right_side_color_blue left_right_background_color">{{ msg.text }}</p> -->
					<p class="example-chat-message">{{ msg.text }}</p>
				</div>
			</li>
			<div class="message_input_center_div_center">
				<input ng-model="msg" ng-keydown="addMessage($event)" type="text" id="messageInput"  placeholder="Type a message..." class="message_text_box">
			</div>
		</ul>
	</div>

	<script>
	var myApp = angular.module("myApp", ["firebase"]);

	myApp.controller("MyController", ["$scope", "$firebaseArray",
		function($scope, $firebaseArray) {
		  //CREATE A FIREBASE REFERENCE
		  var ref = new Firebase("https://ambit.firebaseio.com/messages");
		  var ref_users = new Firebase("https://ambit.firebaseio.com/users");

		  // GET MESSAGES AS AN ARRAY
		  $scope.messages = $firebaseArray(ref);
		  $scope.users = $firebaseArray(ref_users);
		  console.log($scope.users);

		  //ADD MESSAGE METHOD
		  $scope.addMessage = function(e) {

			//LISTEN FOR RETURN KEY
			if (e.keyCode === 13 && $scope.msg) {
			  //ADD MESSAGE TO FIREBASE
			  	//get name
			  	var url = window.location.href;
			  	var name = decodeURI(url.substring(url.indexOf('?user=') + 6));
			  	console.log(name);
			    // document.getElementsByClassName('left_right_text').classList.add('right_side_text');
				// document.getElementsByClassName('left_right_text').classList.remove('left_side_text');
				// document.getElementsByClassName('left_right_background_color').classList.add('right_side_color_blue');
				// document.getElementsByClassName('left_right_background_color').classList.remove('left_side_color_blue');
				$scope.messages.$add({
					sender: name,
					console.log(name + " says hi");
					imageUrl: "",
					text: $scope.msg
				});

				//RESET MESSAGE
				$scope.msg = "";

				
			}
		}
	}
	]);
	</script>

</body>
</html>