html,
body {
	background-color: #ecf0f1;
}

.message_text_box {
	font-size: 17px;
	line-height: 20px;
	border-radius: 18px;
	padding: 8px 12px;
	display: inline-block;
	margin: 0 0 6px 0;
	color: #fff;
	background-color: #00B0FF;
	border: none;
	outline: 0;
	float: right;
}

.example_chat_message {
	color: #393939;
	background-color: #E3E2DF;
	font-size: 17px;
	line-height: 20px;
	border-radius: 18px;
	padding: 8px 12px;
	display: inline-block;
	margin: 0 0 6px 0;
}

.example_chat_username {
	margin-top: 5px;
	margin-bottom: 2px;
	color: #333;
	font-size: 12px;
	margin-left: 5px;
}
/* do not group these rules */
.message_text_box::-webkit-input-placeholder {
	color: #fff;
}
.message_text_box:-moz-placeholder {
	/* FF 4-18 */
	color: #fff;
}
.message_text_box::-moz-placeholder {
	/* FF 19+ */
	color: #fff;
}
.message_text_box:-ms-input-placeholder {
	/* IE 10+ */
	color: #fff;
}

input.message_text_box:focus {
	outline-width: 0;
}

li {
	list-style-type: none;
}

.example_messages,
.username {
	padding: 0;
	width: 50%;
	margin: 0 auto;
}

.message_input_center_div_center {
	text-align: right;
}

.center_div {
	text-align: center;
}

.username {
	margin-bottom: 15px;
}

/*.right_side_color_blue {
	background-color: #00B0FF;
}

.right_side_text {
	text-align: right;
}

.left_side_color_blue {
	background-color: #E3E2DF;
}

.left_side_text {
	text-align: left;
}*/