.picture {
	text-align: center;
	margin-top: 10px;
}

.aboutme {
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}

.info {
	font-size: 20px;
}

.computer,
.mobile,
.engineering {
	text-align: center;
}

.web,
.phone,
.engineer {
	font-size: 20px;
	margin-top: 10px;
}