/*
    ___     __                   __                     
   /   |   / /_   ____   __  __ / /_   _____ _____ _____
  / /| |  / __ \ / __ \ / / / // __/  / ___// ___// ___/
 / ___ | / /_/ // /_/ // /_/ // /_ _ / /__ (__  )(__  ) 
/_/  |_|/_.___/ \____/ \__,_/ \__/(_)\___//____//____/  
                                                        


.picture {
	text-align: center;
	margin-top: 10px;
}

.aboutme {
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}

.info {
	font-size: 20px;
}

.computer,
.mobile,
.engineering {
	text-align: center;
}

.web,
.phone,
.engineer {
	font-size: 20px;
	margin-top: 10px;
}

.web-text,
.phone-text,
.engineer-text {
	font-size: 15px;
}*/

.facebook-picture {
    text-align: center;
    margin-top: 10px;
} 


