/*
    ____        __                                  
   /  _/____   / /_ _____ ____     _____ _____ _____
   / / / __ \ / __// ___// __ \   / ___// ___// ___/
 _/ / / / / // /_ / /   / /_/ /_ / /__ (__  )(__  ) 
/___//_/ /_/ \__//_/    \____/(_)\___//____//____/  
                                                    
*/

.picture {
	text-align: center;
	margin-top: 10px;
}

.aboutme {
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}

.info {
	font-size: 20px;
}

.computer,
.mobile,
.engineering {
	text-align: center;
}

.web,
.phone,
.engineer {
	font-size: 20px;
	margin-top: 10px;
}

.web-text,
.phone-text,
.engineer-text {
	font-size: 15px;
}