/*
   ______               __                __                     
  / ____/____   ____   / /_ ____ _ _____ / /_   _____ _____ _____
 / /    / __ \ / __ \ / __// __ `// ___// __/  / ___// ___// ___/
/ /___ / /_/ // / / // /_ / /_/ // /__ / /_ _ / /__ (__  )(__  ) 
\____/ \____//_/ /_/ \__/ \__,_/ \___/ \__/(_)\___//____//____/  
                                                                 
*/

section#footer {
    background-color: #000000;
    text-align: center;
    padding: 30px;
}

div.social {
    width: 300px;
    margin: 0 auto;
    padding-top: 33px;
}

div.social a {
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 5px;
    font-family: "scicons";
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #fff;
    transition: background-color .2s linear, color .2s linear;
}

div.social a:not(.first-social) {
    margin-left: 20px;
}

div.social a:before {
    width: inherit;
    height: inherit;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

div.social a.icon-mail {
    background-color: rgb(39, 174, 96);
    font-size: 26px;
    padding-top: 6px;
    height: 29px;
}

div.social a.icon-mail:before {
    font-family: "Socialico Plus";
    content: "M";
}

div.social a.icon-mail:hover {
    background-color: #fff;
    color: rgb(39, 174, 96);
}

div.social a.icon-facebook {
    background-color: #3b5998;
}

div.social a.icon-facebook:before {
    content: "\e801";
}

div.social a.icon-facebook:hover {
    background-color: #fff;
    color: #3b5998;
}

div.social a.icon-twitter {
    background-color: #00acee;
}

div.social a.icon-twitter:before {
    content: "\e800";
}

div.social a.icon-twitter:hover {
    background-color: #fff;
    color: #00acee;
}

.email-picture,
.github-picture,
.facebook-picture,
.google-picture {
    text-align: center;
}

.contact-containter {
    background: #222;
    color: white;
}

body div div div div a:hover {
    text-decoration: none;
}


.email-box,
.facebook-box,
.github-box,
.google-box {
	font-size: 40px;
	color: red;
}

.email,
.facebook,
.github,
.google {
	font-size: 40px;
	margin-top: -5px;
	color: white;
}



/*
a:hover - when user hover over link
a:active - when user clicks the link

a:visited - An unvisted link
a:link - A visted link


a:focus - when user
a:focus:hover
*/