/*
    ____   _         _      __                             
   / __ \ (_)_   __ (_)____/ /___   _____ _____ _____ _____
  / / / // /| | / // // __  // _ \ / ___// ___// ___// ___/
 / /_/ // / | |/ // // /_/ //  __// /_  / /__ (__  )(__  ) 
/_____//_/  |___//_/ \__,_/ \___//_/(_) \___//____//____/  
                                                           
*/

.red-divider {
    border: 0;
    height: 1px;
    background: #e74c3c;
    background-image: -webkit-linear-gradient(left, #ccc, #e74c3c, #ccc); 
    background-image: -moz-linear-gradient(left, #ccc, #e74c3c, #ccc); 
    background-image: -ms-linear-gradient(left, #ccc, #e74c3c, #ccc); 
    background-image: -o-linear-gradient(left, #ccc, #e74c3c, #ccc); 
}

.green-divider{
    border: 0;
    height: 1px;
    background: #63c591;
    background-image: -webkit-linear-gradient(left, #ccc, #63c591 #ccc); 
    background-image: -moz-linear-gradient(left, #ccc, #63c591 #ccc); 
    background-image: -ms-linear-gradient(left, #ccc, #63c591, #ccc); 
    background-image: -o-linear-gradient(left, #ccc, #63c591, #ccc); 
}

.blue-divider{
    border: 0;
    height: 1px;
    background: #2f64ea;
    background-image: -webkit-linear-gradient(left, #ccc, #2f64ea, #ccc); 
    background-image: -moz-linear-gradient(left, #ccc, #2f64ea, #ccc); 
    background-image: -ms-linear-gradient(left, #ccc, #2f64ea, #ccc); 
    background-image: -o-linear-gradient(left, #ccc, #2f64ea, #ccc); 
}

.red-divider2 {
    border: 0;
    height: 1px;
    background: #e74c3c;
    background-image: -webkit-linear-gradient(left, #ccc, #e74c3c, #222); 
    background-image: -moz-linear-gradient(left, #ccc, #e74c3c, #222); 
    background-image: -ms-linear-gradient(left, #ccc, #e74c3c, #222); 
    background-image: -o-linear-gradient(left, #ccc, #e74c3c, #222); 
}