/*
    ____        __                                  
   /  _/____   / /_ _____ ____     _____ _____ _____
   / / / __ \ / __// ___// __ \   / ___// ___// ___/
 _/ / / / / // /_ / /   / /_/ /_ / /__ (__  )(__  ) 
/___//_/ /_/ \__//_/    \____/(_)\___//____//____/  
                                                    
*/

body header div div div div a:hover {
    font-size: 40px;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(https://github.com/sagargarg/sagargarg.github.io/raw/3b3194024a1cf8c0db2ed8bcdf17c9fd8366566a/Images/space-picture.jpg?raw=true) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    color:rgba(0,0,0,0.75);
}

.intro .intro-body .intro-text {
    font-size: 18px;
    color: white;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-default {
    border: 1px solid #219ab3;
    color: #219ab3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #219ab3;
    outline: 0;
    color: #000;
    background-color: #219ab3;
}