/*
    ____        __                                  
   /  _/____   / /_ _____ ____     _____ _____ _____
   / / / __ \ / __// ___// __ \   / ___// ___// ___/
 _/ / / / / // /_ / /   / /_/ /_ / /__ (__  )(__  ) 
/___//_/ /_/ \__//_/    \____/(_)\___//____//____/  
                                                    
*/

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(https://github.com/sagargarg/sagargarg.github.io/raw/3b3194024a1cf8c0db2ed8bcdf17c9fd8366566a/Images/space-picture.jpg?raw=true) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-default {
    border: 1px solid #219ab3;
    color: #219ab3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #219ab3;
    outline: 0;
    color: #000;
    background-color: #219ab3;
}



#tooltip1,
#tooltip2,
#tooltip3,
#tooltip4 {
  width: 40px;
  height: 0px;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transform: translateX(-90px) scale(0);
  -o-transform: translateX(-90px) scale(0);
  -ms-transform: translateX(-90px) scale(0);
  -moz-transform: translateX(-90px) scale(0);
  -webkit-transform: translateX(-90px) scale(0);
  opacity: 0.0;
}
#tooltip1 #developer,
#tooltip2 #developer,
#tooltip3 #developer,
#tooltip4 #developer {
  position: relative;
  top: 20px;
  left: -170px;
  right: auto;
  bottom: auto;
  width: 200px;
  height: 150px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  color: #333;
  background: #ffffff;
  border-radius: 10px;
  font-variant: normal;
}

#tooltip1 #developer {
  left: -175px;
}

#tooltip2 #developer {
  left: -165px;
}

#tooltip3 #developer {
  left: -180px;
}

#tooltip4 #developer {
  left: -175px;
}

#tooltip1 #developer:before,
#tooltip2 #developer:before,
#tooltip3 #developer:before,
#tooltip4 #developer:before {
  width: 0;
  height: 0;
  position: absolute;
  top: -20px;
  left: 100px;
  right: auto;
  bottom: auto;
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #FFFFFF transparent;
}
#tooltip1 #developer > :first-child,
#tooltip2 #developer > :first-child,
#tooltip3 #developer > :first-child,
#tooltip4 #developer > :first-child {
  font-size: 20px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
}