/*
	_   __               __                                  
   / | / /____ _ _   __ / /_   ____ _ _____ _____ _____ _____
  /  |/ // __ `/| | / // __ \ / __ `// ___// ___// ___// ___/
 / /|  // /_/ / | |/ // /_/ // /_/ // /_  / /__ (__  )(__  ) 
/_/ |_/ \__,_/  |___//_.___/ \__,_//_/(_) \___//____//____/  
															
*/

 #header {
 	background-color: #333;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 50px;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid black;
	color: white;

 }

.navcolor a { text-decoration: none; }
.navcolor a:visited { color: #FFFFFF; }