/*
    ____                  _              __                           
   / __ \ _____ ____     (_)___   _____ / /_ _____   _____ _____ _____
  / /_/ // ___// __ \   / // _ \ / ___// __// ___/  / ___// ___// ___/
 / ____// /   / /_/ /  / //  __// /__ / /_ (__  )_ / /__ (__  )(__  ) 
/_/    /_/    \____/__/ / \___/ \___/ \__//____/(_)\___//____//____/  
                   /___/                                              
*/

.maze-solver-title,
.led-cube-title,
.molecule-title {
    font-size: 30px;
    text-align: center;
}

.maze-solver-info, .led-cube-info, .molecule-info {
    text-align: center;
    font-size: 20px;
}