/*
   _____  __    _  __ __                   
  / ___/ / /__ (_)/ // /  _____ _____ _____
  \__ \ / //_// // // /  / ___// ___// ___/
 ___/ // ,<  / // // /_ / /__ (__  )(__  ) 
/____//_/|_|/_//_//_/(_)\___//____//____/  
                                           
*/

.skill-container {
    background: url(https://github.com/sagargarg/sagargarg.github.io/raw/3b3194024a1cf8c0db2ed8bcdf17c9fd8366566a/Images/space-picture.jpg?raw=true) no-repeat bottom center scroll;
	background-color: #111;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Nunito', sans-serif, serif;
    width: 100%;
	height: auto;
}
