/*
   _____  __    _  __ __                   
  / ___/ / /__ (_)/ // /  _____ _____ _____
  \__ \ / //_// // // /  / ___// ___// ___/
 ___/ // ,<  / // // /_ / /__ (__  )(__  ) 
/____//_/|_|/_//_//_/(_)\___//____//____/  
                                           
*/

.skill-containter {
    background: #333;
    color: white;
    text-align: center;
    font-size: 20px;
}
