body, html{
	font-family: 'Nunito', sans-serif;
	height: 100%;
	border: 0px;
}

h1 {
	text-align: center;
	margin-top: 50px;
	font-size: 50px;
}

h3, h5 {
	text-align: center;
}

.minus1 {
	text-align: center;
	margin-top: -10px;
	/*margin-left: -30px;*/
}
.picture {
	text-align: center;
	margin-top: 10px;
	border-radius: 500px;
}

.aboutme {
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}

.color1 {
	background: red;
}

.color2 {
	background: blue;
}

.color3 {
	background: green;
}

.computer, .mobile, .engineering {
	text-align: center;
}

.web, .phone, .engineer {
	font-size: 20px;
	margin-top: 10px;
}

.web-text, .phone-text, .engineer-text {
	font-size: 15px;
}

.html-picture, .css-picture, .js-picture {
}


.html, .css, .js, .jq, .android, .apple, .arduino, .java, .bootstrap {
	margin-left: 60px;
	font-size: 30px;
	margin-top: -45px;
}

.js-picture, .jq-picture, .android-picture, .apple-picture, .arduino-picture {
	margin-left: -5px;
}

.android, .apple, .arduino, .java {
	margin-left: 60px;
}

.java {
	margin-left: 55px;
}

.email, .github, .facebook, .google {
	font-size: 20px;
	margin-left: 5px;
}

.email-picture, .github-picture, .facebook-picture, .google-picture {
	font-size: 15px;
	margin-left: 20px;
	text-decoration: none;
}

.red-divider {
    border: 0;
    height: 1px;
    background: #e74c3c;
    background-image: -webkit-linear-gradient(left, #ccc, #e74c3c, #ccc); 
    background-image: -moz-linear-gradient(left, #ccc, #e74c3c, #ccc); 
    background-image: -ms-linear-gradient(left, #ccc, #e74c3c, #ccc); 
    background-image: -o-linear-gradient(left, #ccc, #e74c3c, #ccc); 
}

.green-divider{
    border: 0;
    height: 1px;
    background: #63c591;
    background-image: -webkit-linear-gradient(left, #ccc, #63c591 #ccc); 
    background-image: -moz-linear-gradient(left, #ccc, #63c591 #ccc); 
    background-image: -ms-linear-gradient(left, #ccc, #63c591, #ccc); 
    background-image: -o-linear-gradient(left, #ccc, #63c591, #ccc); 
}

.blue-divider{
    border: 0;
    height: 1px;
    background: #2f64ea;
    background-image: -webkit-linear-gradient(left, #ccc, #2f64ea, #ccc); 
    background-image: -moz-linear-gradient(left, #ccc, #2f64ea, #ccc); 
    background-image: -ms-linear-gradient(left, #ccc, #2f64ea, #ccc); 
    background-image: -o-linear-gradient(left, #ccc, #2f64ea, #ccc); 
}

.htmlfin, .cssfin, .jsfin, .jqfin, .javafin, .bsfin, .androidfin, .applefin, .arduinofin {
	text-align: center;
	font-size: 20px;
}

a:visited {
	color: black;
}

a:link {
	color: black;
}

a:hover {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

a:active {
	color: gray;
}


/*.container {
	background: red;
}

/*.minus2 {
	text-align: center;
	margin-top: 0px;
	margin-left: 30px;
	margin-top: -56px;
}*/



/*
.name, .about, .skills, .projects, .resume, .contact {   about me, skills, projects, resume, contact*/
	/*display: inline-block;
	color: gray;
	height: 50px;
	width: 130px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}
#header {
	height: 40px;
	width: 102%;
	background-color: white;
	margin-top: -110px;
	margin-left: -20px;
	margin-right: -10px;
	border: 1px solid gray;
	position: fixed;
	padding-bottom: 20px;
}

.navbar navbar-default navbar-fixed-top {
	position: fixed;

}

.name {
	color: black;
	width: 400px;
	font-size: 30px;
}

body div div a {
	color: black;
	text-decoration: none;
}

.about {
}

.skills {
}

.projects {
}

.resume {
}

.contact {
	width: 150px;
}

h1 {
text-align: center;
font-size: 50px;
margin-top: 100px;
}*/
