/*
   _____  __          __                         
  / ___/ / /_ __  __ / /___     _____ _____ _____
  \__ \ / __// / / // // _ \   / ___// ___// ___/
 ___/ // /_ / /_/ // //  __/_ / /__ (__  )(__  ) 
/____/ \__/ \__, //_/ \___/(_)\___//____//____/  
           /____/                                
*/

.textfaller {
    text-align: center;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif, serif;
    background-color: #fff;
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

h1,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: 'Nunito', sans-serif, serif;
    letter-spacing: 1px;
}

h2 {
    margin: 0 0 35px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

h3,
h5 {
    text-align: center;
}

a:hover,
a:focus {
    text-decoration: none;
}

.footer {
    font-size: 30px;
}


#tooltip1,
#tooltip2,
#tooltip3,
#tooltip4 {
  width: 0px;
  height: 0px;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transform: translateX(-90px) scale(0);
  -o-transform: translateX(-90px) scale(0);
  -ms-transform: translateX(-90px) scale(0);
  -moz-transform: translateX(-90px) scale(0);
  -webkit-transform: translateX(-90px) scale(0);
  opacity: 0.0;
}
#tooltip1 #container,
#tooltip2 #container,
#tooltip3 #container,
#tooltip4 #container {
  position: relative;
  top: 20px;
  left: -200px;
  right: auto;
  bottom: auto;
  width: 200px;
  height: 100px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  color: #333;
  background: #ffffff;
  border-radius: 10px;
  font-variant: normal;
}
#tooltip1 #container:before,
#tooltip2 #container:before,
#tooltip3 #container:before,
#tooltip4 #container:before {
  width: 0;
  height: 0;
  position: absolute;
  top: -20px;
  left: 100px;
  right: auto;
  bottom: auto;
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #FFFFFF transparent;
}
#tooltip1 #container > :first-child,
#tooltip2 #container > :first-child,
#tooltip3 #container > :first-child,
#tooltip4 #container > :first-child {
  font-size: 20px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
}