body, html{
	font-family: 'Nunito', sans-serif;
	height: 100%;
	border: 0px;
}

h1 {
	text-align:center;
	margin-top: 50px;
	font-size: 50px;

}

.minus1 {
	text-align: center;
	margin-top: -10px;
	/*margin-left: -30px;*/
}

.picture {
	text-align: center;
	margin-top: 10px;
}

.aboutme {
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}

.color1 {
	background: red;
}

.color2 {
	background: blue;
}

.color3 {
	background: green;
}

.computer, .mobile, .engineering {
	text-align: center;
}

.web, .phone, .engineer {
	font-size: 20px;
	margin-top: 10px;
}

.web-text, .phone-text, .engineer-text {
	font-size: 15px;
}

/*.minus2 {
	text-align: center;
	margin-top: 0px;
	margin-left: 30px;
	margin-top: -56px;
}*/



/*
.name, .about, .skills, .projects, .resume, .contact {   about me, skills, projects, resume, contact*/
	/*display: inline-block;
	color: gray;
	height: 50px;
	width: 130px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}
#header {
	height: 40px;
	width: 102%;
	background-color: white;
	margin-top: -110px;
	margin-left: -20px;
	margin-right: -10px;
	border: 1px solid gray;
	position: fixed;
	padding-bottom: 20px;
}

.navbar navbar-default navbar-fixed-top {
	position: fixed;

}

.name {
	color: black;
	width: 400px;
	font-size: 30px;
}

body div div a {
	color: black;
	text-decoration: none;
}

.about {
}

.skills {
}

.projects {
}

.resume {
}

.contact {
	width: 150px;
}

h1 {
text-align: center;
font-size: 50px;
margin-top: 100px;
}*/
