.phone_final {
	margin-top: 150px;
	position: relative;
	margin-left: -500px;
}

.main_final {
	height: 462px;
	width: 258px;
	position: absolute;
	margin-top: 59px;
	margin-left: 21px;
	z-index: 100px;
}

.nexus5_final {
	height: 600px;
	width: 302px;
	z-index: 10px;
	position: absolute;
}

.main2_final {
	height: 443px;
	width: 250px;
	position: absolute;
	margin-top: 75px;
	margin-left: 263px;
}

.galaxy_final {
	margin-left: 250px;
	margin-top: 30px;
	position: absolute;
}


html {
	background-color: #3a9bdc;
}

body {
	background-color: #3a9bdc;
}

.title {
	margin-top: 200px;
	text-align: center;
	font-size: 50px;
	color: white;
}

.description {
	color: white;
	font-size: 25px;
	text-align: center;
	margin-top: 40px;
}
