html,
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
html img,
body img {
	-webkit-user-drag: none;
}
body {
	font-family: "Ruda","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #fff;
	webkit-tap-highlight-color: rgba(255,255,255,.2);
	overflow-x: hidden;
}
h1,
h3,
h4,
h5,
h6 {
	margin: 0 0 35px;
	letter-spacing: 1px;
}
h2 {
	margin: 0 0 35px;
	letter-spacing: 1px;
}
h1 {
	text-align: center;
	margin-top: 50px;
	font-size: 50px;
}
h3,
h5 {
	text-align: center;
}
.link a { text-decoration: none; }
.link a:visited { color: #e74c3c; }

.link a:not(.button) {
	color: #3a3a3a;
	-webkit-transition: all 0.75s;
	-moz-transition: all 0.75s;
	transition: all 0.75s;
	padding: 0.01rem 0.2rem;
	border-bottom: 3px solid #e74c3c;
}

.link a:not(.button):hover { background: #e74c3c; color: #FFF; }
.link { color: black; }



/* Begin Navbar Section */

.navbar-fixed-top {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
	border: none;
	background-color: rgba(35,35,35,0.9);
}
.top-nav-collapse {
	background-color: transparent;
	border: none;
	padding-top: 20px;
}
.navbar-toggle {
	margin: 0 15px 0 0;
	padding: 14px 10px;
}
.navbar-toggle i {
	color: #fff;
}

/* Makes my name white */
.navbar-brand,
.navcolor li a {
	color: #fff !important;
	font-weight: 700;
}
.navcolor li a:hover {
	color: #e74c3c !important;
}
.navcolor .active a {
	background-color: transparent !important;
	color: #e74c3c !important;
}

/* End Navbar Section*/

/* Begin Title Section */

#panel1 {
	padding: 0px;
	width: 100%;
	min-height: 100%;
	display: table;
	overflow-x: hidden;
}

.bannerPart {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	width: auto;
	height: auto;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	overflow: hidden;
}

.bannerPart{
	background-image: -webkit--webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-webkit--webkit-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -webkit--moz-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-webkit--moz-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -webkit--o-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-webkit--o-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -webkit--ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-webkit--ms-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-webkit-linear-gradient(108deg,#26d0ce,#1a2980 90%);
	background-image: -moz--webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-moz--webkit-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -moz--moz-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-moz--moz-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -moz--o-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-moz--o-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -moz--ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-moz--ms-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -ms--webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-ms--webkit-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -ms--moz-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-ms--moz-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -ms--o-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-ms--o-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -ms--ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-ms--ms-linear-gradient(342deg,#26d0ce,#1a2980 90%);
	background-image: -ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,.26)),-ms-linear-gradient(108deg,#26d0ce,#1a2980 90%);
}

.bannerPart img {
	opacity: .2;
	filter:alpha(opacity=20);
}

#content {
	padding: 30px;
	font-variant: small-caps;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color: white;
}
#content h2 {
	font-size: 64px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	text-align: center;
}
#items {
	text-align: center;
	margin-bottom: 200px;
	margin-top: 20px;
}
#items h3 {
	font-size: 24px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	vertical-align: middle;
	margin: 20px;
	padding: 20px;
	width: 150px;
	height: auto;
}
.hover + div,
.hover2 {
	opacity: 1.0 !important;
	transform: translateX(0px) scale(1) !important;
	-o-transform: translateX(0px) scale(1) !important;
	-ms-transform: translateX(0px) scale(1) !important;
	-moz-transform: translateX(0px) scale(1) !important;
	-webkit-transform: translateX(0px) scale(1) !important;
}
.tooltip1,
.tooltip2,
.tooltip3,
.tooltip4 {
	width: 0px;
	height: 0px;
	display: inline-block;
	vertical-align: middle;
	transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transform: translateX(-90px) scale(0);
	-o-transform: translateX(-90px) scale(0);
	-ms-transform: translateX(-90px) scale(0);
	-moz-transform: translateX(-90px) scale(0);
	-webkit-transform: translateX(-90px) scale(0);
	opacity: 0.0;
}

.developer {
	position: relative;
	top: 20px;
	left: -195px;
	right: auto;
	bottom: auto;
	width: 200px;
	height: 150px;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
	color: #333;
	background: #ffffff;
	border-radius: 10px;
}
.developer:before {
	width: 0;
	height: 0;
	position: absolute;
	top: -20px;
	left: 88px;
	right: auto;
	bottom: auto;
	content: "";
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #FFFFFF transparent;
}
.btn-circle {
	width: 70px;
	height: 70px;
	border: 2px solid #fff;
	border-radius: 35px;
	font-size: 40px;
	color: #fff;
	background: 0 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.btn-circle:hover {
	color: #888;
	border-color: #888;
}

@media screen and (max-width: 820px) {
	/*#items {
		margin-bottom: 90px !important;
	}*/
	#items h3 {
		/*width: 130px;*/
	}
	.developer {
		left: -186px;
	}
}

@media screen and (max-width: 450px){
	#panel1 #content {
		padding: 10px;
	}

	#panel1 #content h2 {
		font-size: 54px;
	}
}

@media screen and (max-width: 410px){
	#panel1 #content #items h3 {
		margin: 20px 0;
		padding: 20px 10px;
		width: 130px;
	}
	.item_box {
		width: 49%;
		max-width: 144px;
		display: inline-block;
	}
	.developer {
		left: -170px;
	}
}

@media screen and (max-width: 350px){
	#panel1 #content h2 {
		font-size: 48px;
	}
	.developer {
		width: 160px;
		left: -150px;
		height: 200px;
	}
	.developer:before {
		left: 70px;
	}
}

/* End Intro Section */





#about, #skills, #projects, #education, #contact {
	padding-top: 10px;
	padding-bottom: 50px;
	color: #fff;
}

#about {
	background-color: #1E88E5;
}

#skills {
	background-color: #673ab7;
}

#projects {
	background-color: #00bcd4;
}

#education {
	background-color: #27ae60;
}

#contact {
	background-color: #ff9800;
	text-align: center;
}

/* Begin Divider */

.red-divider {
	border: 0;
	height: 2px;
	background: #e74c3c;
	background-image: -webkit-linear-gradient(left, #1E88E5, #e74c3c, #1E88E5); 
	background-image: -moz-linear-gradient(left, #1E88E5, #e74c3c, #1E88E5); 
	background-image: -ms-linear-gradient(left, #1E88E5, #e74c3c, #1E88E5); 
	background-image: -o-linear-gradient(left, #1E88E5, #e74c3c, #1E88E5); 
}

.green-divider {
	border: 0;
	height: 2px;
	background: #e74c3c;
	background-image: -webkit-linear-gradient(left, #673ab7, #e74c3c, #673ab7); 
	background-image: -moz-linear-gradient(left, #673ab7, #e74c3c, #673ab7); 
	background-image: -ms-linear-gradient(left, #673ab7, #e74c3c, #673ab7); 
	background-image: -o-linear-gradient(left, #673ab7, #e74c3c, #673ab7); 
}

.blue-divider {
	border: 0;
	height: 2px;
	background: #e74c3c;
	background-image: -webkit-linear-gradient(left, #00bcd4, #e74c3c, #00bcd4); 
	background-image: -moz-linear-gradient(left, #00bcd4, #e74c3c, #00bcd4); 
	background-image: -ms-linear-gradient(left, #00bcd4, #e74c3c, #00bcd4); 
	background-image: -o-linear-gradient(left, #00bcd4, #e74c3c, #00bcd4); 
}

.yellow-divider {
	border: 0;
	height: 2px;
	background: #e74c3c;
	background-image: -webkit-linear-gradient(left, #009688, #e74c3c, #009688); 
	background-image: -moz-linear-gradient(left, #009688, #e74c3c, #009688); 
	background-image: -ms-linear-gradient(left, #009688, #e74c3c, #009688); 
	background-image: -o-linear-gradient(left, #009688, #e74c3c, #009688); 
}
.red-divider2 {
	border: 0;
	height: 2px;
	background: #e74c3c;
	background-image: -webkit-linear-gradient(left, #ff9800, #e74c3c, #ff9800); 
	background-image: -moz-linear-gradient(left, #ff9800, #e74c3c, #ff9800); 
	background-image: -ms-linear-gradient(left, #ff9800, #e74c3c, #ff9800); 
	background-image: -o-linear-gradient(left, #ff9800, #e74c3c, #ff9800); 
}



/* End Divider */
