.hello1 {
	margin-top: 25px;
	font-size: 60px;
	font-weight: bold;
	margin-left: 5%;
	margin-right: 5%;
	height: 110px;
}

.hello2 {
	font-size: 60px;
	font-weight: bold;
	margin-left: 5%;
	margin-right: 5%;
	height: 110px;
}

.hello3 {
	font-size: 60px;
	font-weight: bold;
	margin-left: 5%;
	margin-right: 5%;
	height: 110px;
}

.hello4 {
	font-size: 60px;
	font-weight: bold;
	margin-left: 5%;
	margin-right: 5%;
	height: 110px;
	position: absolute;
}

.hello5 {
	font-size: 60px;
	font-weight: bold;
	margin-left: 27%;
	margin-right: 5%;
	height: 110px;
	position: absolute;
}

.hello6 {
	font-size: 60px;
	font-weight: bold;
	margin-left: 37%;
	margin-right: 5%;
	height: 110px;
	position: absolute;
}

.hello7 {
	font-size: 60px;
	font-weight: bold;
	margin-left: 49%;
	margin-right: 5%;
	height: 110px;
	position: absolute;
	width: 10%;
}

.hello8 {
	font-size: 60px;
	font-weight: bold;
	margin-left: 62%;
	margin-right: 5%;
	height: 110px;
	position: absolute;
	width: 10%;
}

.hello9 {
	font-size: 60px;
	font-weight: bold;
	margin-left: 15%;
	margin-right: 5%;
	height: 110px;
	position: absolute;
	width: 10%;
}