html,
body {
	margin: 0;
	padding: 0;
}

body {
	padding: 0 20px;
}

.div_centered {
	text-align: center;
	margin-top: 100px;
}

.text_title {
	font-size: 70px;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
}

.body_text {
	font-family: 'Ruda';
	margin-top: 40px;
	margin-bottom: 20px;
	height: 100px;
}

#countdown {
	font-size: 30px;
}

.igs_text {
	margin: 0;
	margin-top: 20px;
	font-size: 25px;
}

@media screen and (max-width: 500px){
	.div_centered {
		margin-top: 50px;
	}
	.body_text {
		margin-top: 20px;
	}
	.text_title {
		font-size: 50px;
	}
	#countdown {
		font-size: 20px;
	}
	.igs_text {
		font-size: 17px;
	}
}