html,
body {
	margin: 0;
	padding: 0;
	background-color: #ecf0f1;
}

body {
	padding: 0 30px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-align-items: center;
	-webkit-flex-direction: column;
	-webkit-font-smoothing: antialiased;
	-webkit-justify-content: center;
	display: -webkit-flex;
}

.div_centered {
	text-align: center;
	margin-top: 100px;
}

.age-label {
  color: #B0B5B9;
  font-size: 1.2rem;
  line-height: 1;
  margin: 0 0 0 2px;
}

.text_title,
#app {
	font-size: 70px;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
}

.body_text {
	font-family: 'Ruda';
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
	height: auto;
	width: 620px;
	line-height: 25px;
}

#countdown,
#death {
	font-size: 30px;
	font-weight: bold;
}

.igs_text {
	margin: 0;
	margin-top: 20px;
	font-size: 20px;
}

#death {
	color: #494949;
	margin: 0;
	font-size: 6rem;
	line-height: 1;
	font-weight: 600;
}

#seconds {
	color: #494949;
	margin: 0;
	vertical-align: text-top;
	line-height: 1;
	font-size: 2.4rem;
	font-weight: bold;
}

@media screen and (max-width: 680px){
	.body_text {
		width: 100%;
	}
}

@media screen and (max-width: 490px){
	.div_centered {
		margin-top: 50px;
	}
	.body_text {
		margin-top: 20px;
	}
	.text_title {
		font-size: 50px;
	}
	#countdown {
		font-size: 20px;
	}
	.igs_text {
		font-size: 17px;
	}
}